
header {
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("spacebackground.jpg");
  background-color: #501537;
  font-family: 'Signika', sans-serif;
  height: 100vh;
}

.levels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.levels button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 85px;
  padding: 5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px; 
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#easy:hover {
  color: forestgreen;
  background-color: darkseagreen;
}

#hard:hover {
  color: #9B2915;
  background-color: gold;
}

#master:hover {
  color: mediumorchid;
  background-color: darkred;
}

.basic-rules {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  color: goldenrod;
  font-weight: bold;
  width: 85%;
  padding: 5px;
  background-color: #1D3354;
  border-radius: 10px;
}

.basic-rules ul li {
  padding: 2px;
}

.game-container {
  border: 1px solid;
  /* background-color: #1D3354; */
  background-color: #231F20;
  border-radius: 10px;
  width: 86%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.score {
  color: aquamarine;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.genre {
  color: burlywood;
  font-size: 25px;
  padding-bottom: 10px;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: darkslateblue; */
  background-color: #231F20;
  height: 75%;
  width: 85%;
  border: 1px solid transparent;
  border-radius: 15px;
}

.game-content h4 {
  color: darkgoldenrod;
  margin-bottom: 10px;
  font-size: 18px;
}

.game-display {
  width: 90%;
  height: 75%;
  font-size: 43px;
  color: cornflowerblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-input {
  border: none;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  height: 30px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.correct {
  color: #B2FFD6;
}

.wrong {
  color: #9B2915;
}

footer {
  padding-top: 10px;
  bottom: 5;
  color: #ABC8C0;
}

#time-left {
  color: white;
  padding-left: 10px;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

/* Difficulty toggle */
.selected {
  background-color: skyblue;
}

/* Timer Bar */
#timer-bar {
  position: relative;
  width: 500px;
  height: 120px;
  background: linear-gradient(to right, cornflowerblue, plum, #9EE493);
  border-radius: 10px;
  margin: 5px;
}

#timebar-left {
  position: absolute;
  right: 0;
  width: 0;
  height: 77px;
  border-radius: 10px;
  background-color: dimgrey;
}

/* Contact Info */
.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-info label {
  margin-right: 5px;
}

.fa-github-square {
  font-size: 30px;
  color: #9EE493;
  margin: 8px;
}

.fa-linkedin {
  font-size: 30px;
  color: #9EE493;
  margin: 8px;
}
